<div
  cdkDropList
  [id]="column.id"
  [cdkDropListData]="column.cards"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="onDrop($event)"
  class="flex-shrink-0 w-[416px] bg-[#E2E8F0] rounded-4xl p-4  overflow-hidden"
>
  <div class="flex justify-between items-center " [style.background-color]="column.color">

    <h3 class=" flex flex-row font-extrabold text-[20px] text-slate-800">{{ column.name }} <h4 class="px-1 text-slate-400"> ({{column.cards.length}})</h4></h3>
   
    <span class="text-sm bg-white bg-opacity-30 rounded-full px-2 py-1">
      {{ column.cards.length }}
    </span>
  </div>

  <div class="py-4 flex flex-col gap-3">
    <app-card
      *ngFor="let card of column.cards"
      [card]="card"
      cdkDrag
      [cdkDragData]="card"
      (editCard)="onEditCard($event)"
      (moveCard)="onMoveCard($event)"
      (deleteCard)="onDeleteCard($event)"
    ></app-card>
  </div>

  <button
    (click)="onAddCard()"
    class="mx-4 mb-2 w-[calc(100%-2rem)] text-sm text-gray-500 hover:text-gray-700 flex items-center justify-center py-2 border border-dashed border-gray-300 rounded-lg hover:border-gray-400"
  >
    <span>+ Add card</span>
  </button>
</div>